# Midterm 2 coding Questions Total : 60 
### 50 minute
### Name- Langdon Hatton
After complition submit it on Moodle using `GitHub` with in the assigned time

### Question 1. Print all of the numbers between 1 to 10 and square each numbers and append those to a new list
- 5 points

In [1]:
lis = list()
for x in range(1,10):
    lis.append(x**2)
lis

[1, 4, 9, 16, 25, 36, 49, 64, 81]

### Question 2. Create a list of 10 random numbers and find out minimum , maximum and total of teh list.
* 5 + 3 = 8 points

In [23]:

import random
rand_list=[]
x=10
for i in range(x):
    rand_list.append(random.randint(0,10000))
print(rand_list)

[8327, 3423, 4166, 4148, 619, 6480, 355, 3514, 2148, 9043]

In [24]:
max(rand_list)

9043

In [25]:
min(rand_list)

355

### Question 3. Print `day` and `300` from the new_list
new_list= [10, ['new', 300, [[3.141, 20],  345 ]], 'day' ]
* 3 + 3 = 6 points

In [10]:
new_list= [10, ['new', 300, [[3.141, 20], 345 ]], 'day' ]
new_list[-1]

'day'

In [11]:
new_list[1][1]

300

### Question 4.  College=("Bellarmine", "2001 Neuburg RD")
Print the `name` of the College.
* 5 points

In [12]:
College=("Bellarmine", "2001 Neuburg RD")
College[0]

'Bellarmine'

### Question 5. In the United States as of 1995, minor is generally legally defined as a person under the age of 18. Write a code to check a student is minor or not. Verify the code by user input
* 6 points

In [13]:
age=int(input('Enter your age: '))
if age>=18:
    print('You are not a minor')
else:
    print('You are a minor')

Enter your age: 12
You are a minor

### Question 6. Get an input from user and check whether the number is `odd` and `greater than 10`. If not then comment
* 5 points

In [14]:
num=int(input('Enter a number: '))

if num>10 and num%2==1:
    print('It is odd and greater than ten')
else:
    print('It is not both odd and greater than ten')

Enter a number: 12
It is not both odd and greater than ten

### Question 7. Get a user input and check the given number is multiple of 11 or not
* 5 points

In [15]:
mult=int(input('Enter a number: '))
if mult%11==0:
    print('It is a multiple of 11')
else:
    print('It is not a multiple of 11')

Enter a number: 33
It is a multiple of 11

### Question 8. Convert the lists to dictionary
* keys =  [10, 20, 30]
* values =['Ten', 'Twenty', 'Thirty']
* 4 points

In [16]:
keys = [10, 20, 30]
values =['Ten', 'Twenty', 'Thirty']
list(zip(keys, values))

[(10, 'Ten'), (20, 'Twenty'), (30, 'Thirty')]

### Question 9. Write a function that can take `any arbitary numbers` as inputs and calculate the maximum of them. Check the function for two sets of inputs.
* 2+2 points

In [17]:
num1=int(input('Enter a number: '))
num2=int(input('Enter a number: '))
num3=int(input('Enter a number: '))
num4=int(input('Enter a number: '))
print('The max is: ' , max(num1,num2,num3,num4))

Enter a number: 2
Enter a number: 3
Enter a number: 4
Enter a number: 5
The max is:  5

In [18]:
num1=int(input('Enter a number: '))
num2=int(input('Enter a number: '))
num3=int(input('Enter a number: '))
num4=int(input('Enter a number: '))
print('The max is: ' , max(num1,num2,num3,num4))

Enter a number: 5
Enter a number: 67
Enter a number: 34
Enter a number: 5
The max is:  67

##### Question 10. Write functions to find out Area and Perimeter of a square. Check the result for side = 10.

* 3+3 points

In [26]:
l=int(input('Enter the length of one side of the square: '))
a=l*l
p=l+l+l+l
print(a, 'is the area of the square')
print(p, 'is the perimeter of the square')

Enter the length of one side of the square: 10
100 is the area of the square
40 is the perimeter of the square

### Question 11. Write down two program using while and for loop that prints all of the number from 10 to 20 (included) 
* 3+3 points

In [20]:
x = 10
while(x<=20):
    print(x)
    x += 1

10
11
12
13
14
15
16
17
18
19
20

In [21]:
x = 20
while(x>=10):
    print(x)
    x -= 1

20
19
18
17
16
15
14
13
12
11
10